<html>
  <body class="background">
    <div class="custom-container d-flex justify-content-center">
      <div class="description-login border p-4">
        <div class="text-left">
          <%= link_to "<i class='fas fa-arrow-left text-left white '></i>".html_safe, root_path%>
        </div>
        <h1 class="western text-center" >New Cocktail</h1>
        <%= simple_form_for @cocktail do |f| %>
          <% if @cocktail.errors.any? %>
            <div class="errors-container">
              <ul>
                <% @cocktail.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
              <% end %>
          <%= f.input :name, class: "w-20 white" %>
          <%= f.input :instructions, class: "w-20 white" %>
          <%= f.submit "Submit", class: "btn btn-outline-light" %>
        <% end %>
      </div>
    </div>
  </body>
</html>

