<body>

  <div class="container border text-center">
    <input type="text" id="search">
    <ul id="results" class="list-group">
    </ul>

  <% 3.times do %>
    <% cocktail = @cocktails[rand(1..239)] %>
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= cocktail.name %></h5>
   <%= link_to "details" , cocktail_path(cocktail), class: "btn btn-primary" %>
  </div>
</div>
    <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
  <% end %>
  <% @cocktails[rand(1..239)] do |cocktail| %>
    <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
  <% end %>
  <%= link_to 'Create a new cocktail', new_cocktail_path %>
  </div>
</body>
