<div class="background">
  <div class="custom-container d-flex justify-content-around">
    <% if @cocktail.thumbnail.present? %>
      <div>
        <%= image_tag @cocktail.thumbnail, class: "image-thumbnail rounded" %>
      </div>
    <% elsif @cocktail.photo.key.present? %>
      <div>
        <%= cl_image_tag @cocktail.photo.key, class: "image-thumbnail rounded" %>
      </div>
    <% end %>
    <div class="description border">
      <h1 class="western text-center"><%= @cocktail.name %></h1>
      <h2 class="text-center white mb-4">The ingredients</h2>
      <ul>
        <% array = (1..15).to_a%>
        <% array.each do |n| %>
          <% unless @cocktail["strIngredient#{n}"].nil?%>
          <h5 id="ingredient"><i class="fas fa-bullseye"></i>  <%= @cocktail["strMeasure#{n}"] %>- <%= @cocktail["strIngredient#{n}"] %></h5>
          <% end %>
        <% end %>
        <% @cocktail.ingredients.each do |ingredient| %>
          <% if @cocktail.user == current_user %></h5>
            <h5 id="ingredient"><i class="fas fa-bullseye"></i>  <%= ingredient.doses.first.description %>- <%= ingredient.name %>
            <!-- link_to "<i class='fas fa-pencil-alt white'></i>".html_safe, edit_cocktail_dose(@dose) -->
              <!-- link_to "<i class='fas fa-trash white'></i>".html_safe, cocktail_doses(@dose), method: :delete, data: { confirm: "Are you sure?" } -->
          <% else %>
            <h5 id="ingredient"><i class="fas fa-bullseye"></i>  <%= ingredient.doses.first.description %>- <%= ingredient.name %></h5>
          <% end %>
        <% end %>
      </ul>
      <h4 class="mt-4 p-4 text-center white"><%= @cocktail.instructions %></h4>
      <% if @cocktail.user == current_user %>
        <div class="d-flex justify-content-center">
        <div>
          <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-light m-3" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
