<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :description, class: "w-20" %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Back to cocktails", cocktails_path(@cocktail) %>
<% end %>
<%= link_to "Back to cocktail list", cocktails_path %>
