<div class="background">
  <div class="home-container text-center">
    <h1>
      <span id="banner-typed-text" class="western"></span>
    </h1>
    <%= form_tag cocktails_path, method: :get do %>
     <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a cocktail"%>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center mt-5">
  <h2>Hand crafted for you:</h2>
</div>
<div class="d-flex justify-content-center">
  <% 4.times do %>
    <% cocktail = @cocktails[rand(1..200)] %>
     <div class="categories-cards m-4">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-shadow card-restaurant card-grow">
          <%= image_tag(cocktail.thumbnail) %>
          <div class="card-restaurant-infos">
            <div>
              <h2><%= truncate cocktail.name, length: 25, separator: /\w+/ %></h2>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <% end %>
</div>
